<div class="widgetname" data-dojo-attach-point="widgetBase">

    <div data-dojo-attach-point="videoNode">
        <video
            id="my-player"
            class="video-js vjs-default-skin vjs-fluid"
            controls
            preload="auto"
            data-setup='{ "techOrder": ["html5", "youtube", "vimeo"]} '>
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
                </a>
            </p>
        </video>
    </div>
</div>
